<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>
      var queryPoll = function() {
        $.ajax({
          url: '/api/stream',
          context: $('#output')
        }).done(
          function(data) {
            $(this).text(data)
            setTimeout(queryPoll, 500)
          }
        )
      }
      queryPoll()
    </script>
</head>
<body>
    <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>FiloGraph</h1>
    Donner un nom de fichier G-code préparé avec Inkscape [extensions->gcodetools] par exemple et le Filograph s'en occupera...<br /><br />
    X est la distance entre la verticale passant pat l'intersection des courroies et le bord interne de la poulie du moteur gauche<br />
    Y est la distance entre une ligne horizontale allant entre les 2 poulies et cette intersection <br />
    D est la distance entre les deux bords internes des poulies <br/>
    La vitesse par défaut est de 600 mm/s on peut l'augmenter jusqu'à 1200 mm/s, 800 mm/s est encore bien acceptable.
    <h2> Formulaire </h2
    {% block form %}{% endblock %}
    </div>
    <pre id="output"></pre>
</body>
</html>
