{% extends 'index.html' %}

{% block form %}
<div style="display:flex;">
	<form action="{{ url_for('home') }}">
	    <button type="submit">Home</button>
	</form>
	<form action="{{ url_for('stop', filename=filename) }}">
	    <button type="submit">Stop</button>
	</form>
	<form action="{{ url_for('start', filename=filename) }}">
	    <button type="submit">Start</button>
	</form>
</div>
{% endblock %}
