
{% extends 'index.html' %}

{% block form %}
<form action="/upload" enctype="multipart/form-data" method="post">
    <label for="x">X</label>
    <input type="text" name="x" id="x" value="570" />
    <label for="y">Y</label>
    <input type="text" name="y" id="y" value="570" />
    <label for="d">D</label>
    <input type="text" name="d" id="d" value="1140" />
    <label for="file">GCode</label>    
    <input type="file" name="file" id="file" />
    <button type="submit">Upload</button>
</form>
{% endblock %}
